
.data {
  background: url(../../img/video/Date@2x.webp);
  clip-path: polygon(0 0,100% 0,100% 75.5%,58.5% 100%,0 90.3%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 120px 0px 420px 0px;
  margin-bottom: -85px;
  margin-top: -1px;
  &-ifc {
    margin-bottom: 130px!important;
  }
  &__wrap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  &__text {
    max-width: 343px;
  }
  &__title {
    font-weight: 600;
    font-size: 38px;
    line-height: 135%;
    color: #FFFFFF;
    margin-bottom: 70px;
    max-width: 478px;
  }
  &__subtitle {
    font-weight: 300;
    font-size: 17px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 30px;
  }
  &__descr {
    font-weight: 600;
    font-size: 23px;
    line-height: 140%;
    color: #FFFFFF;
  }
}




@media (max-width: 1400px) { //1200

}

@media (max-width: 1200px) { //992

}


@media (max-width: 992px) { //768 

}

@media (max-width: 768px) { //576 

}

@media (max-width: 576px)  { //320
  .data {
    &-ifc {
      margin-bottom: -20px!important;
    }
  }

}
@media (max-width: 455px) {

}