
.innovation {
  padding: 150px 0px 260px 0px;
  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__text {
    font-weight: 600;
    font-size: 38px;
    line-height: 135%;
    color: rgba(37, 38, 38, 0.98);
    margin-bottom: 5px;
    padding-left: 75px;
  }
  &-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  &__title {
    font-weight: 600;
    font-size: 60px;
    line-height: 135%;
    display: flex;
    color: rgba(37, 38, 38, 0.98);
    &-1 {
      text-align: left;
      margin-bottom: 55px;
      margin-top: 63px;
    }
    &-2 {
      margin-top: 63px;
      margin-bottom: 55px;
      text-align: right;
    }
  }
  &__wrapper {
    display: flex;
  }
  &-card {
    width: 280px;
    height: 280px;
    font-weight: 600;
    font-size: 23px;
    line-height: 140%;
    display: flex; 
    justify-content: center;
    align-items: center;
    color: rgba(37, 38, 38, 0.98);
    span {

    }
    &-1 {
      background: #F0F5FA;
    }
    &-2 {
      background: #D2E2EE;
    }
  }
}